<ion-view view-title="Crédits">
  <ion-content class="padding">
    <article class="padding-bottom-perso">
      <p class="text-center">
        <img ng-src="img/logo/logoCPIEHL300px.jpg" class="imgAccueil"/></p>
      <p>
        Cette application a été imaginée par le Centre Permanent d’Initiatives pour l’Environnement du Haut-Languedoc.<br/>
        N'hésitez-pas à le contacter pour toutes demandes d'informations relatives à ce parcours.
      </p>
      <p style="font-style: italic">
        <span style="font-weight: bold">CPIE du Haut-Languedoc</span><br/>
        Les Bouldouïres<br/>
        34330 LA-SALVETAT-SUR-AGOUT<br/>
        04-67-97-51-16<br/>
        <a href="mailto:contact@cpiehl.org">contact@cpiehl.org</a><br/>
        <a href='#' onclick="cordova.InAppBrowser.open('http://www.cpiehl.org', '_blank', 'closebuttoncaption=fermer')">cpiehl.fr</a>
      </p>
      <br/>
      <hr/>
      <br/>
      <p class="text-center">
        <a href='#' onclick="cordova.InAppBrowser.open('http://www.insensa.fr', '_blank', 'closebuttoncaption=fermer')" title="InSensa, développement web et mobile">
          <img ng-src="img/logo/insensa.png" class="imgAccueil" alt="logo INSENSA"/>
        </a>
      </p>
      <p class="padding-top">Le développement de cette application a été réalisé par l'Agence InSensa.</p>
      <p>Veuillez lui faire savoir par mail tous bugs ou problèmes techniques rencontrés.</p>
      <p style="font-style: italic">
        <span style="font-weight: bold">INSENSA</span><br/>
        Développement web et mobile<br/>
        Pouzols<br/>43200 Saint-Jeures<br/>
        09-72-34-35-29<br/>
        <a href="mailto:contact@insensa.fr">contact@insensa.fr</a><br/>
        <a href='#' onclick="cordova.InAppBrowser.open('http://www.insensa.fr', '_blank', 'closebuttoncaption=fermer')" title="InSensa, développement web et mobile">insensa.fr</a>
      </p>
    </article>
  </ion-content>
</ion-view>
