<ion-view view-title="Partenaires">
  <ion-content class="padding">
    <article class="padding-bottom-perso">
      <h3 class="text-center padding">Ce projet a été financé par</h3>
      <p class="text-center"><img class="imgAccueil" ng-src="img/logo/EDF300px.png" alt="logo EDF"/></p>
      <p class="text-center"><a href='#' onclick="cordova.InAppBrowser.open('https://www.edf.fr/groupe-edf/nos-energies/energies-renouvelables/hydraulique/hydraulique-tarn', '_system', 'closebuttoncaption=fermer')">EDF</a></p>
      <p class="text-center"><img class="imgAccueil" ng-src="img/logo/occitanie300px.jpg" alt="logo Région Occitanie"/></p>
      <p class="text-center"><a href='#' onclick="cordova.InAppBrowser.open('http://www.laregion.fr', '_system', 'closebuttoncaption=fermer')">La Région Occitanie</a></p>
      <p class="text-center"><img class="imgAccueil" ng-src="img/logo/pepss300px.png" alt="logo PEPS'S"/></p>
      <p class="text-center"><a href='#' onclick="cordova.InAppBrowser.open('http://www.lasalvetat.fr', '_system', 'closebuttoncaption=fermer')">PEPS'S</a></p>
      <p class="text-center"><img class="imgAccueil" ng-src="img/logo/laSalvetat300px.jpg" alt="logo La Salvetat sur Agoût"/></p>
      <p class="text-center"><a href='#' onclick="cordova.InAppBrowser.open('http://lasalvetatsuragout.fr', '_system', 'closebuttoncaption=fermer')">La commune de la Salvetat-sur-Agoût</a></p>
    </article>
  </ion-content>
</ion-view>
